@charset "utf-8";
/* CSS Document */

#header{
background-image:url(picture/lmclkmdc_Fotor.jpg);
margin:auto;
clear:both;
height:170px;
width:960px;
padding:0px;
font-size:20px;
font-family:"Lucida Console", Monaco, monospace;
}

#page{
color:#FFF;
margin:auto;
width:960px;
height:auto;	
}

#konten{
background-color:#FFF;
height:800px;
width:600px;
float:left;
font-size:30px;
font-family:"Times New Roman", Times, serif;
color:#000;
	
}
.gambar img{
width:300px;
height:200px;
margin-top:4px;	
}

#konten2{
background-color:#FFF;
height:800px;
width:359px;
float:right;
border-left-width:thin;
border-left-style:outset;
border-left-color:#000;
font-size:16px;
font-family:Arial, Helvetica, sans-serif;
color:#000;
margin-left:1px;
	
}

#footer {
	background-color: #E53935;
	clear: both;
	height: 70px;
	width: 960px;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #FFFFFF;
}
